<div *ngIf="lessons && lessons.length" class="container courses-slider">

  <div class="row">

    <div *ngIf="title" class="col-lg-12 col-md-12 col-sm-12 full-block courses-slider-title">
      <div class="courses-slider-name">
        {{title}} <span *ngIf="matchNumber" class="matches"> {{ matchNumber }} matches </span>
      </div>
    </div>
  </div>

  <div *ngIf="lessons.length>0">
    <owl-carousel-o [options]="caraouselOptions">

      <ng-container *ngFor="let lesson of lessons">
        <ng-template carouselSlide [id]="lesson.lessonId">
          <div class="class-slide-and-popup">

            <div class="index-video-block">
              <div class="video">
                <iframe loading="lazy" width="300" height="160" [src]="(lesson.lessonVideoUrl | videoshow)"
                  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
              <a
                [routerLink]="['/courses', lesson.courseId,'subjects',lesson.subjectId,'syllabus',lesson.syllabusId,'lessons',lesson.lessonId,'topics']">
                {{lesson.lessonTitle}}</a>
            </div>

          </div>

        </ng-template>
      </ng-container>

    </owl-carousel-o>

  </div>

</div>