<div class="container index-info-block">
  <div class="row">
    <div class="col-lg-12 ">
      <p class="title">Organize the knowledge on the way you want</p>
    </div>
    <div class="col-lg-9 ">
      <div class="text">
        Organize the knowledge on the way you want Emaua is an e-learning platform that will help you to learn and share your knowledge
        on a structured way. The platform is at the moment still on development, if there is any bug or suggestion, please
        contact us by sending to the email. (suggestion@emaua.com). If you want to get to know more on how this structure
        works, please go to the page
        <a [routerLink]="['/about']">About.</a>
      </div>
    </div>
  </div>
</div>
<!-- toDo display set to none???? -->
<div style="display: none" class="container">
  <div class="row index-work-block">
    <div class="col-lg-4">
      <div class="work-block">
        <div class="label-block setup">
          <img src="assets/img/setup-icon.png" alt="icon" />
        </div>
        <p class="title">How it works</p>
        <p class="text">
          The information is stored in an already well known structure in an easier way to find the courses that are interested for
          you.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="work-block">
        <div class="label-block learn">
          <img src="assets/img/learn-icon.png" alt="icon" />
        </div>
        <p class="title">Check Available<br/>Courses</p>
        <p class="text">
          Each video is related with different kinds of courses.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="work-block">
        <div class="label-block check">
          <img src="assets/img/check-icon.png" alt="icon" />
        </div>
        <p class="title">Check All Available Subjects</p>
        <p class="text">
          You can watch courses that already exist and are organized using the biggest video servers in the World.
        </p>
      </div>
    </div>
  </div>
</div>
