<app-carousel></app-carousel>
<app-home-info></app-home-info>
<!--app-banner></app-banner-->
<div *ngIf="mostPopularCoursesLoading$|async" class="row">
    <div class="col-sm-12">
        <app-spinner></app-spinner>
    </div>
</div>
<app-courses-caraousel-component *ngIf="!(mostPopularCoursesLoading$|async)" [title]="mostPopularCousesTitle"
    [caraouselOptions]="customCaraouselOptions" [courses]="mostPopularCoursesData$|async">
</app-courses-caraousel-component>

<div *ngIf="recentlyAddedCoursesLoading$|async" class="row">
    <div class="col-sm-12">
        <app-spinner></app-spinner>
    </div>
</div>
<app-courses-caraousel-component *ngIf="!(recentlyAddedCoursesLoading$|async)" [title]="mostRecentCoursesTitle"
    [caraouselOptions]="customCaraouselOptions" [courses]="recentlyAddedCoursesData$|async">
</app-courses-caraousel-component>

<div *ngIf="recentlyAddedSubjectsLoading$|async" class="row">
    <div class="col-sm-12">
        <app-spinner></app-spinner>
    </div>
</div>
<app-subjects-caraousel [title]="mostRecentSubjectsTitle" [caraouselOptions]="customCaraouselOptions"
    [subjects]="recentlyAddedSubjectsData$|async"></app-subjects-caraousel>

<div *ngIf="recentlyAddedLessonsLoading$|async" class="row">
    <div class="col-sm-12">
        <app-spinner></app-spinner>
    </div>
</div>
<app-lessons-caraousel-component [title]="mostRecentLessonsTitle" [caraouselOptions]="customCaraouselOptions"
    [lessons]="recentlyAddedLessonsData$|async">
</app-lessons-caraousel-component>

<!--app-small-banners></app-small-banners-->