<div>

  <div class="register">

    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" [disabled]="busy" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ title }}</h4>
    </div>

    <div class="modal-body">

      <div class="row">
        <div class="col-sm-2">
          <br/>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <img [src]="imageUrl" class="img-responsive force-center img-constraint" alt="" />
          </div>
        </div>
        <div class="col-sm-2">
          <br/>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-1">
          <br/>
        </div>
        <div class="col-sm-10 confirm-message">
          <h6 class="delete-message">{{ message }}</h6>
        </div>
        <div class="col-sm-1">
          <br/>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div id="errors" *ngFor="let error of errors" class="row">
        <div class="col-sm-12">
          <div class="alert alert-info" role="alert">
            <p>{{ error.message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <br/>
        </div>
        <div class="col-sm-4">
          <button (click)="deleteConfirm(id, c)" [disabled]="busy" type="button" class="ripple btn-ripple success popup-btn delete-btn full force-center">Yes</button>
        </div>
        <div class="col-sm-2">
          <br/>
        </div>
        <div class="col-sm-4">
          <button (click)="deleteCancel(id, d)" [disabled]="busy" type="button" class="ripple btn-ripple success default full force-center pull-left">No</button>
        </div>
        <div class="col-sm-1">
          <br/>
        </div>
      </div>

    </div>

  </div>

</div>
