.modal-body {
  padding: 30px;
}

.modal-header .close {
  margin: 0 20px;
}

div.register {
  margin: 10px 0;
}

.modal-body {
  padding: 50px;
}

.pointer {
  cursor: pointer !important;
}

.delete-message {
  max-width: 100% !important;
  word-wrap: break-word;
}
