<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..\..\assets\Rectangle 283.png" alt="Computer Science - Oxford">
    
    <div class="card-body">
      <h5 class="card-title">Computer Science - Oxford</h5>
      <div class="card-text">
        <span class="badge badge-warning"><h6>Development</h6></span>
        <div class="row">
            <span  style="font-size:small;" class="badge badge-dark">Development</span>
            <div style="font-size: small;"><span class="badge badge-dark"><h6>Development</h6></span></div>
        </div>
      </div>
    </div>
  </div>  