<app-breadcrumbs *ngIf="breadcrumbs" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<div class="container main-cont">
  <div class="about">
    <div class="row">
      <div class="col-sm-12">
        <p class="category-title">Discover more about us</p>
        <img class="caption-img img-responsive" src="assets/img/about.jpg" alt="" />
        <p class="category-title">EMAUA</p>
      </div>
    </div>
    <div class="row sections">
      <div class="col-sm-5">
        <img src="assets/img/scheme.png" class="img-responsive" alt="" />

      </div>
      <div class="col-sm-7">

        <p class="content">We are a company that have the main aim to help you to structure the knowledge in an easier way. This knowledge that
          is spread and is useful could be structure in a way that you have courses and subjects. If you want to give us
          any suggestion contact us on:
          <a href="mailto:suggestion@emaua.com">suggestion@emaua.com</a>
        </p>

      </div>
    </div>
    <div class="row sections">
      <div class="col-sm-6">
        <p class="category-title">Courses</p>
        <p class="content">Is correspondent to a Course in the University, like Computer Science, Physics or Math. This course is made by many
          different Subjects.</p>
      </div>
      <div class="col-sm-6">

        <p class="category-title">Subjects</p>
        <p class="content">Is like the Subjects you have at the different courses. Computer Science have Calculus One and Law course can have
          Introduction to the law system. Some courses have common subjects, and emaua allow those courses to reuse those
          common subjects.
        </p>

      </div>
      <div class="col-sm-6">
        <p class="category-title">Lessons</p>
        <p class="content">According to Wikipedia: A lesson is a structured period of time where learning is intended to occur. One Subject
          can have one or more Lessons. For example: imagine that you have the subject Calculus One: you can structure it
          in an ordered way that it will have many other lessons: Introduction to Calculus One, Limits, Derivates, etc...</p>

      </div>
      <div class="col-sm-6">
        <p class="category-title">Lectures</p>
        <p class="content">Lectures consists on videos of each of the Lessons that are designed, those videos could be from youtube, vimeo or
          Daylimotion.</p>

      </div>
      <div class="col-sm-6 col-sm-offset-3">

        <p class="category-title">Videos</p>
        <p class="content">Is where you can have videos and topics for this videos, for example: you can have a youtube video called Physics
          and the topics would be something like. The history of Physics - 00:00:00 - 00:01:00). (2. The second part of the
          history of Physics 00:01:00 - 00:02:00).</p>

      </div>
    </div>

  </div>
</div>
