<div class="media">
    <div class="media-body">
        <h5 class="mt-0">Invite people to contribute to you to build the course</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat consequat mauris. Ultricies leo integer malesuada nunc vel risus commodo. Lacus viverra  ullamcorper.</p>
      </div>

    <img class="align-self-center mr-3" src="..\..\assets\benefit2.svg" alt="Generic placeholder image" style="left: 18.89%;right: 59.24%;top: 35.07%;bottom: 59.2%;">
</div>
  