div.course {
  margin-top: 30px;
}
.slick-initialized { visibility: visible; }

#recentlyAddedCourse-imageUrl {
  height: 248px;
  width: 100%;
}

.course-title a {
  height: 40px;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
}

.course-description {
  height: 200px;
  overflow: hidden;
  word-wrap: break-word;
}

.item-description {
  height: 90px;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
  width: 300px;
}

.descr-items li {
  height: 40px;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
  width: 300px;
  margin-left: 0;
  margin-top: 15px;
}

.item-caption {
  height: 40px;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
  width: 300px;
}

.li-institution-name {
  height: 60px;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
  width: 150px;
}

.index-popup-wrap {
  position: relative; }

.right-popup {
  position: absolute;
  top: -53px;
  /* left: 100%;
  width: 130%; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding: 20px 15px;
  z-index: -1;
  display: none;
  transition: 0.3s;
  margin-left: 15em; }

.left-popup {
  position: absolute;
  top: -53px;
  /*left: -130%;
  width: 130%;*/
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding: 20px 10px;
  z-index: -1;
  display: none;
  transition: 0.3s;
  margin-left: -18em; }

.right-popup:before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 49%;
  left: -8px;
  border: 1px solid #cdcdcd;
  border-top: none;
  border-right: none;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg); }

.left-popup:before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 49%;
  left: 98%;
  border: 1px solid #cdcdcd;
  border-top: none;
  border-right: none;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

@media screen and (min-width: 766px) and (max-width: 991px) {
  .right-popup {
    position: absolute;
    top: -53px;
    /* left: 80%;
    width: 130%; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    padding: 20px 15px;
    z-index: -1;
    display: none;
    transition: 0.3s;
    margin-left: 14em; }
  .right-popup:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 49%;
    left: -8px;
    border: 1px solid #cdcdcd;
    border-top: none;
    border-right: none;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg); }
  .left-popup {
    position: absolute;
    top: -53px;
    /* left: -110%;
    width: 130%; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    padding: 20px 10px;
    z-index: -1;
    display: none;
    transition: 0.3s;
    margin-left: -14em; }
  .left-popup:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 49%;
    left: 98%;
    border: 1px solid #cdcdcd;
    border-top: none;
    border-right: none;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .recently-next {
    margin-right: 30px; }
}

.class-slide-and-popup:hover .left-popup,
.class-slide-and-popup:hover .right-popup {
  display: block;
  z-index: 999999; }

@media screen and (max-width: 766px) {
  .class-slide-and-popup:hover .left-popup,
  .class-slide-and-popup:hover .right-popup {
    display: none; }
  .course {
    margin: auto; } }

  .class-slide-and-popup {
    padding: 15px;
  }
